<!DOCTYPE html>
<html>
<head>
  <title>MyWalletWatcher</title>
  <!-- Add your stylesheets and other head elements here -->
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <%= link_to 'MyWalletWatcher', root_path, class: 'navbar-brand' %>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <%= link_to 'About', about_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'See Accounts', accounts_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'See Household Members', household_members_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'All Transactions', transactions_path, class: 'nav-link' %>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container mt-4">
    <%= yield %>
  </div>

  <!-- Add your JavaScript includes and other body elements here -->
</body>
</html>
