<%= form_with(model: account, local: true) do |form| %>
  <% if account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(account.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
        <% account.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :household_member_id %>
    <%= form.collection_select :household_member_id, HouseholdMember.all, :id, :name %>
  </div>

  <div class="mb-3">
    <%= form.label :account_name %>
    <%= form.text_field :account_name %>
  </div>

  <div class="mb-3">
    <%= form.label :balance %>
    <%= form.number_field :balance, step: '0.01' %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>
