<h1>Accounts</h1>
<%= form_tag(accounts_path, method: "get", class: "form-inline") do %>
  <%= text_field_tag(:search, params[:search], placeholder: "Search by account name or balance", class: "form-control mr-2") %>
  <%= select_tag(:household_member_id, options_for_select(@household_members.map { |hm| [hm.name, hm.id] }, params[:household_member_id]), include_blank: true, class: "form-control mr-2") %>
  <%= submit_tag("Search", class: "btn btn-primary mr-2") %>
  <%= link_to("Reset", accounts_path, class: "btn btn-secondary") %>
<% end %>
<table class="table">
  <thead>
    <tr>
      <th>Owner</th>
      <th>Name</th>
      <th>Balance</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @accounts.each do |account| %>
      <tr>
        <td><%= account.household_member.name %></td>
        <td><%= link_to account.account_name, institution_path(account.institution_id),
        class: 'link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover' %></td>
        <!--<td><%= account.account_name %></td>-->
        <td><%= account.balance %></td>
        <td>
          <%= link_to 'Show', account_path(account), class: 'btn btn-info' %>
          <%= link_to 'Edit', edit_account_path(account), class: 'btn btn-warning' %>
          <%= link_to "Destroy", account_path(account),
          class: 'btn btn-danger', data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure? when you delete an account, it will also delete associated transactions"
                  } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>