<h1>Accounts</h1>

<table>
  <thead>
    <tr>
      <th>Owner</th>
      <th>Name</th>
      <th>Balance</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @accounts.each do |account| %>
      <tr>
        <td><%= account.household_member.name %></td>
        <td><%= account.account_name %></td>
        <td><%= account.balance %></td>
        <td>
          <%= link_to 'Show', account_path(account) %> |
          <%= link_to 'Edit', edit_account_path(account) %> |
          <%= link_to "Destroy", account_path(account), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure? when you delete an account, it will also delete associated transactions"
                  } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Account', new_account_path %>
<%= link_to 'Go Home', root_path %>
