<h1>Account Details</h1>
<p><strong>Owner:</strong> <%= @account.household_member.name %></p>
<p><strong>Name:</strong> <%= @account.account_name %></p>
<p><strong>Balance:</strong> <%= @account.balance %></p>
<h1><%= @account.account_name %></h1>
<% if @account.balance.positive? %>
  <p>This account has a positive balance. Good financial health!</p>
<% elsif @account.balance.zero? %>
  <p>This account has a zero balance. Keep an eye on your transactions!</p>
<% else %>
  <p>This account has a negative balance. Take necessary actions!</p>
<% end %>
<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back to Accounts', accounts_path %>


